[submodule "final-project-plane-fc-irfansandyy"]
	path = final-project-plane-fc-irfansandyy
	url = https://github.com/magang-bayucaraka/final-project-plane-fc-irfansandyy.git
[submodule "matematika-uav-irfansandyy"]
	path = matematika-uav-irfansandyy
	url = https://github.com/magang-bayucaraka/matematika-uav-irfansandyy.git
[submodule "visi-komputer-lanjut-irfansandyy"]
	path = visi-komputer-lanjut-irfansandyy
	url = https://github.com/magang-bayucaraka/visi-komputer-lanjut-irfansandyy.git
[submodule "open-cv-irfansandyy"]
	path = open-cv-irfansandyy
	url = https://github.com/magang-bayucaraka/open-cv-irfansandyy.git
[submodule "ubuntu-git-irfansandyy"]
	path = ubuntu-git-irfansandyy
	url = https://github.com/magang-bayucaraka/ubuntu-git-irfansandyy.git
